<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBQiIn-RFvt1RDzXWC7YbxRNTQwcUuiMA</string>
	<key>GCM_SENDER_ID</key>
	<string>516970475774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisal.googleadmob.googleAdmobFlutter</string>
	<key>PROJECT_ID</key>
	<string>test-admob-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>test-admob-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516970475774:ios:0af10c356f214ff8d9f5af</string>
</dict>
</plist>